.Minovia {
  
    margin-left: 190px;
  
  
}

.ojos {
     
     margin-left: 185px;
     
}
.preciosa {
     margin-left: 260px;
}
.champions {
     margin-left: 130px;
}
.video {
     margin-left: 230px;
}
.segundo {
   margin-left: 240px;
}


body{
  background-image: url('/imgenes/flores.jpg');
}